<ons-toolbar>
  <div class="left"><ons-back-button>Back</ons-back-button></div>
  <div class="center">TimeTrip</div>
</ons-toolbar>
<div class="content">
  <ons-list>
    <!-- 上段エリア -->
    <ons-list-item style="width: 100%;">
      <ons-button class="btn" (click)="goToMenu()">
        <i class="material-icons">home</i>
      </ons-button>
      {{location.Address}}
      <!-- <ons-select class="addressSelect" [(ngModel)]="locationId" (change)="changeAddress($event)">
        <option *ngFor="let addressItem of addressListDB" [value]="addressItem.LocationID">
          {{ addressItem.Address }}
        </option>
      </ons-select> -->
    </ons-list-item>

    <!-- 写真エリア -->
    <ons-list-item style="width: 100%;">
      <div (click)="prev()" style="z-index: 100;" style="width: 30px;">
        <i [style.display]="!isPrev() ? 'none' : 'block'" class="material-icons">arrow_back</i>
      </div>
      <ons-carousel #carousel swipeable auto-scroll centered id="carousel"
        (postchange)="toPostChange($event)">
        <ons-carousel-item *ngFor="let item of photoInfoList;let i = index" (click)="openModal(i)">
          <img class="carousel_photo" [src]="item.Bin" alt="" (error)="isImgErrList[i] = true" style="height: 100%;">
          <div *ngIf="isImgErrList[i]" class="carousel_erricon"><i class="material-icons">cancel</i></div>
        </ons-carousel-item>
      </ons-carousel>
      <div (click)="next()" style="z-index: 100;" style="width: 30px;">
        <i [style.display]="!isNext() ? 'none' : 'block'" class="material-icons">arrow_forward</i>
      </div>
    </ons-list-item>
    
    <!-- 情報エリア -->
    <ons-list-item>
      <div align="center" style="width: 100%;">
        <div *ngIf="photoInfo && photoInfo.Year" class="item title">{{photoInfo.Year}} 年</div>
        <div *ngIf="false" class="item title">{{location.Title}}</div><!--廃止-->
        <div class="item" style="margin-top: 50px;">{{photoInfo?.Comment}}</div>
        <div class="item">
          <ons-button (click)="goToUpload()" class="btn"><i class="material-icons">edit</i></ons-button>
        </div>
      </div>
    </ons-list-item>
  </ons-list>
</div>

<!-- 画像拡大モーダル -->
<ons-modal #modal (click)="modal.hide()" *ngIf="photoInfo?.Bin">
  <div class="photoModal">
    <img class="carousel_photo" [src]="photoInfo.Bin">
  </div>
</ons-modal>