
.registration_title{
    font-size:20px;
    font-weight:bold;
  }
.registration_comment{
  font-size:14px; 
}
.dataPicArea {
  width: 100%;
}
.dataPicArea img {
  text-align:center;
}
.dataMemoArea {
  width:30%;
}
.dataMemoArea-title {
  margin-left:5px;
  margin-right:20px;
  /*font-size:16px;*/
  font-weight:700;
}
.dataMemoArea-text {
  margin-left:5px;
  margin-right:20px;
  /*font-size:10px;*/
}